{% assign publications = include.items | default: site.data.publications %}
{% assign show_abstracts = include.show_abstracts %}
{% if show_abstracts == nil %}
  {% assign show_abstracts = site.show.publication_abstracts %}
{% endif %}
{% assign compact = include.compact | default: false %}

<ol class="publication-list{% if compact %} publication-list--compact{% endif %}">
  {% for publication in publications %}
    {% assign highlighted_name = '<strong>' | append: site.author.name | append: '</strong>' %}
    {% assign authors_display = publication.authors | replace: site.author.name, highlighted_name %}
    <li class="publication">
      <article>
        <h3 class="publication__title">
          {% if publication.paper_link %}
            <a href="{{ publication.paper_link }}">{{ publication.title }}</a>
          {% else %}
            {{ publication.title }}
          {% endif %}
        </h3>
        <p class="publication__authors">{{ authors_display }}</p>
        <p class="publication__venue">
          <span>{{ publication.venue }}</span>
        </p>
        {% if publication.ppt_link %}
          <p class="item-links">
            {% if publication.ppt_link %}<a href="{{ publication.ppt_link }}">Slide</a>{% endif %}
          </p>
        {% endif %}
      </article>
    </li>
  {% endfor %}
</ol>
<p class="publication-note">* equal contribution.</p>
